.test-simple {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 150px auto;
}

.test-simple-alt {
    display: grid;
    grid-template: auto / 150px auto;
}


.test-repeat {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
}

.test-gap {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
    row-gap: 2em;
    column-gap: 4px;
}

.test-gap-alt {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
    gap: 2em 4px;
}

/* justify-items */
.test-justify-items-center {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-items: center;
}
.test-justify-items-start {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-items: start;
}
.test-justify-items-end {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    justify-items: end;
}


/* align-items */
.test-align-items-center {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: center;
    height: 50vh;
}
.test-align-items-start {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: start;
    height: 50vh;
}
.test-align-items-end {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: end;
    height: 50vh;
}
.test-align-items-stretch {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    align-items: stretch;/* Default */
    height: 50vh;
}
